@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

.fields {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
  color: #818181;
  font-weight: 500;
}
.fields hr {
  border: 1px solid #ccc;
}
.fields .fields-left {
  width: 100%;
  margin-right: 20px;
}
.name-country {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-top: 50px;
}
.name{
  width: 100%;
  margin: 0 auto;
  border: 1px solid #eaeaea;
  border-radius: 8px;
  padding: 10px 15px;
  color: darkcyan;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
}
.name i {
  padding: 4px ;
}
.detail-country {
  width: 600px;
  margin: 0 auto;
  margin-top: 40px;
}
.detail {
  width: 100%;
  margin: 0 auto;
  border: 1px solid #eaeaea;
  border-radius: 8px;
  padding: 10px 15px;
  margin-top: 10px;
  color: darkcyan;
  display: flex;
  justify-content: space-between;
}
.detail i {
  padding: 4px;
}
